<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<form method="POST" action="">
<input name="" type="hidden" value="">
<input name="" type="hidden" value="">
<label>AMOUNT: </label> <input name="amt_event" value="">
<input name="" type="hidden" value="">
<input name="" type="hidden" value="">
<input name="" type="hidden" value="">
<label>Name: </label> <input name="id_name" value="Mayank">
<input type="submit">
</form>
</body>
</html>
