<!DOCTYPE html>
<html>
<head><title>ASCE|Events</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="ASCE">
<link rel="icon" href="/images/top-logo.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
<link rel="stylesheet" href="/stylesheets/animate.min.css"/>
<link rel="stylesheet" href="../stylesheets/login-style.css"/>
<link rel="stylesheet" href="animated-hamburger.css"/>
<script src="/javascripts/jQuery.js"></script>
<script src="/javascripts/wow.min.js"></script>
</head>
<body>
<div class="pc-menu-fixed">
<div class="row">
<div class="col-xs-12 wel-bar">
<div class="username col-xs-3">
<p><span><i class="fa fa-user-circle"></i>Hi,NAME</p>
</div>
<div style="float:right;" class="col-sm-2">
<p style="text-align:center;"><span><i class="fa fa-shopping-cart"></i></span>MyCart</p>
</div>
</div>
</div>
<div class="row">
<ul class="side-list col-sm-3 col-md-2">
  <li class="col-xs-12"><a class="active" href="profile.html">Events</a></li>
  <li class="col-xs-12"><a href="profile-workshop.html">Workshops</a></li>
  <li class="col-xs-12"><a href="profile-accomodation.html">Accomodation</a></li>
  <li class="col-xs-12"><a href="profile-tshirt.html">T-Shirts</a></li>
  <li class="col-xs-12"><a href="#about">Logout</a></li>
  </ul>
</div>
</div>
<div class="mobile-menu-fixed">
<div class="row">
<div class="col-xs-12 wel-bar">
<div class="col-xs-3" style="text-align:center;">
<div id="nav-icon1">
  <span></span>
  <span></span>
  <span></span>
</div>
</div>
<div style="float:right;text-align:center;" class="col-xs-5">
<p "><span><i class="fa fa-shopping-cart"></i></span>MyCart</p>
</div>
</div>
</div>
<div class="row">
<ul class="side-list-mobile col-xs-12 col-md-2">
  <li class="col-xs-12"><a class="active" href="profile.html">Events</a></li>
  <li class="col-xs-12"><a href="profile-workshop.html">Workshops</a></li>
  <li class="col-xs-12"><a href="profile-accomodation.html">Accomodation</a></li>
  <li class="col-xs-12"><a href="profile-tshirt.html">T-Shirts</a></li>
  <li class="col-xs-12"><a href="#about">Logout</a></li>
</ul>
</div>
</div>
<div class="wel-bar-altr" style="width:100%;">
</div>
<div class="side-menu-altr col-sm-3 col-md-2" style="opacity:1;"></div>
<div class="cont col-sm-9 col-md-10">
<h1 class="heading">Events</h1>
  <div style="margin:20px 0px;text-align:center;" class="col-sm-12">
  <div id="evt1" class="evt col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-4">
    <p style="text-align:center;font-size:20px;"><b>Envocist</b></p>
    <p class="timing">Date:dd/mm/yyyy</p>
    <p class="timing">Time:xx:yy</p>
    <p class="timing">Registration Fees:Rs. XXXX</p>
    <p class="timing">Contact:<br>+91 1234567890(abc)</p>
    <button type="submit" class="btn btn-success"><span><i class="fa fa-shopping-cart"></i></span> Add to Cart</button>
  </div>
  <div class="evt col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-4">
    <p style="text-align:center;font-size:20px;"><b>Fresh More Challenge</b></p>
    <p class="timing">Date:dd/mm/yyyy</p>
    <p class="timing">Time:xx:yy</p>
    <p class="timing">Registration Fees:Rs. XXXX</p>
    <p class="timing">Contact:<br>+91 1234567890(abc)</p>
    <button type="button" class="btn btn-success"><span><i class="fa fa-shopping-cart"></i></span> Add to Cart</button>
  </div>
  <div class="evt col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-4">
    <p style="text-align:center;font-size:20px;"><b>Quiz Bowl</b></p>
    <p class="timing">Date:dd/mm/yyyy</p>
    <p class="timing">Time:xx:yy</p>
    <p class="timing">Registration Fees:Rs. XXXX</p>
    <p class="timing">Contact:<br>+91 1234567890(abc)</p>
    <button type="button" class="btn btn-success"><span><i class="fa fa-shopping-cart"></i></span> Add to Cart</button>
  </div>
  <div class="evt col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-4">
    <p style="text-align:center;font-size:20px;"><b>Concrete Baseball Bat</b></p>
    <p class="timing">Date:dd/mm/yyyy</p>
    <p class="timing">Time:xx:yy</p>
    <p class="timing">Registration Fees:Rs. XXXX</p>
    <p class="timing">Contact:<br>+91 1234567890(abc)</p>
    <button type="button" class="btn btn-success"><span><i class="fa fa-shopping-cart"></i></span> Add to Cart</button>
  </div>
  <div class="evt col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-4">
    <p style="text-align:center;font-size:20px;"><b>Surveyor Challenge</b></p>
    <p class="timing">Date:dd/mm/yyyy</p>
    <p class="timing">Time:xx:yy</p>
    <p class="timing">Registration Fees:Rs. XXXX</p>
    <p class="timing">Contact:<br>+91 1234567890(abc)</p>
    <button type="button" class="btn btn-success"><span><i class="fa fa-shopping-cart"></i></span> Add to Cart</button>
  </div>
  <div class="evt col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-4">
    <p style="text-align:center;font-size:20px;"><b>Sustainalble Design Challenege</b></p>
    <p class="timing">Date:dd/mm/yyyy</p>
    <p class="timing">Time:xx:yy</p>
    <p class="timing">Registration Fees:Rs. XXXX</p>
    <p class="timing">Contact:<br>+91 1234567890(abc)</p>
    <button type="button" class="btn btn-success"><span><i class="fa fa-shopping-cart"></i></span> Add to Cart</button>
  </div>
  <div class="evt col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-4">
    <p style="text-align:center;font-size:20px;"><b>Arch Bridge</b></p>
    <p class="timing">Date:dd/mm/yyyy</p>
    <p class="timing">Time:xx:yy</p>
    <p class="timing">Registration Fees:Rs. XXXX</p>
    <p class="timing">Contact:<br>+91 1234567890(abc)</p>
    <button type="button" class="btn btn-success"><span><i class="fa fa-shopping-cart"></i></span> Add to Cart</button>
  </div>
  <div class="evt col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-4">
    <p style="text-align:center;font-size:20px;"><b>Traffineer 1.0</b></p>
    <p class="timing">Date:dd/mm/yyyy</p>
    <p class="timing">Time:xx:yy</p>
    <p class="timing">Registration Fees:Rs. XXXX</p>
    <p class="timing">Contact:<br>+91 1234567890(abc)</p>
    <button type="button" class="btn btn-success"><span><i class="fa fa-shopping-cart"></i></span> Add to Cart</button>
  </div>
  <div class="evt col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-4">
    <p style="text-align:center;font-size:20px;"><b>Mead Paper</b></p>
    <p class="timing">Date:dd/mm/yyyy</p>
    <p class="timing">Time:xx:yy</p>
    <p class="timing">Registration Fees:Rs. XXXX</p>
    <p class="timing">Contact:<br>+91 1234567890(abc)</p>
    <button type="button" class="btn btn-success"><span><i class="fa fa-shopping-cart"></i></span> Add to Cart</button>
  </div>
  <div class="evt cd col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-4">
    <p style="text-align:center;font-size:20px;"><b>Constrologer</b></p>
    <p class="timing">Date:dd/mm/yyyy</p>
    <p class="timing">Time:xx:yy</p>
    <p class="timing">Registration Fees:Rs. XXXX</p>
    <p class="timing">Contact:<br>+91 1234567890(abc)</p>
    <button type="button" class="btn btn-success"><span><i class="fa fa-shopping-cart"></i></span> Add to Cart</button>
  </div>
  </div>
  </div>
</body>
<script>
$(document).ready(function(){
  $('#nav-icon1').click(function(){
    $(this).toggleClass('open');
    $(".side-list-mobile").toggleClass("wide");
  });
  var h=$(window).height();
  var x=$(".wel-bar").height();
  $(".side-list").css("height",(h-x)+'px');
  $(".wel-bar-altr").css("height",x+'px');
  $(".side-menu-altr").css("height",($(document).height()-x)+'px');
  var w=$(window).width();
  if(w<768)
  {
    $(".mobile-menu-fixed").css("display","block");
    $(".pc-menu-fixed").css("display","none");
    $(".side-menu-altr").css("display","none");

  }
  else
  {
    $(".pc-menu-fixed").css("display","block");
    $(".mobile-menu-fixed").css("display","none");
  }
});
</script>
</html>
