<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="ASCE, VIT, canoe, CANOE, Civil">
    <meta name="description" content="">
    <meta name="author" content="ASCE">
    <title>Register | ASCE - ICES | VIT</title>

    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/mycart-style.css"/>
    <link rel="icon" href="/images/top-logo.png">
    <script type="text/javascript" src="/javascripts/jQuery.js"></script>
    <script type="text/javascript" src="/javascripts/semantic.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/side-nav.js"></script>

  </head>
  
  <style type="text/css">
   .preloader
    {
      height:100vh;
      width:100vw;
      background-color: black;
      position:fixed;
      z-index:99999;
    }
    .preloader div
    {
      text-align:center;
      z-index:100000;
      position: absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
    }
    .container-fluid {
      padding-left: 0;
    }

    .ui.fluid.button {
      font-size: 18px;
    }

    .ui.circular.button {
      background-color: white;
      opacity: 1;
      transition: opacity 0.5s ease, background-color 0.5s ease;
    }
    #msg
    {
      margin:20px 0px;
      color:red;
      font-size:15px;
      text-align:center;
    }
    .ui.circular.button:hover {
        background-color: white;
        opacity: 0.5;
        transition: opacity 0.5s ease, background-color 0.5s ease
    }

    h2 {
      text-align: center;

    }

    .ui.block.header {
      background-color: #00B5AD;
      color: white;
    }

    .ui.block.header.customField {
      background-color: white;
      color: black;
    }

    .icons {
      height:25px;
    }

    .ui.fluid.input {
        margin-bottom: 10px;
    }
    .pos
    {
      margin-top:20px;
    }
    form
    {
      margin-bottom:40px;
    }
    @media screen and (max-width:767px) {
      .pos
      {
        margin-top:40px;
      }
      }

  </style>
  <div class="preloader">
    <div class="col-xs-3 col-sm-1"><img src="/images/loader.gif" width="100%" height="100%"></img></div>
  </div>
  <body style="position: relative;">
   <div id="overlay" onclick="closeNav()"></div>
  <div id="mySidenav" class="sidenav">
    <i class="closebtn" onclick="closeNav()">&times;</i>
    <a href="/" onclick="closeNav()">Home</a>
    <a href="/canoe" id="#hel" onclick="closeNav()">Canoe Competition</a>
    <a href="/conference"  onclick="closeNav()">Conference</a>
    <a href="/workshop" onclick="closeNav()">Workshop</a>
    <a href="/events" onclick="closeNav()">Events</a>
    <a href="/register" onclick="closeNav()">Register</a>
    <a href="/login" onclick="closeNav()">Login</a>
  </div>
  <div class="mobile-header col-xs-12 row">
    <div class="ham col-sm-2 col-md-2 col-lg-1 col-xs-2" onclick="openNav()"><i class="fa fa-reorder"></i></div>
    <div class="asce-logo col-xs-3"><A href="/"><img src="../images/top-logo.png"></img></a></div>
  </div>
  <div class="pc-header col-sm-12 row">
    <div class="pc-asce-logo col-sm-2"><a href="/"><img src="../images/top-logo.png"></img></a></div>
    <div class="nav-style col-sm-10 col-lg-offset-3 col-lg-7" style="margin-top:20px;margin-bottom:20px;">
      <p><a href="/">Home</a></p>
      <p><a href="/conference">Conference</a></p>
      <p><a href="/canoe">Canoe Competition</a></p>
      <p><a href="/events">Events</a></p>
      <p><a href="/workshop">Workshop</a></p>
      <p><a href="/login">Login</a></p>
    </div>
  </div>
  <div class="altr"></div>
<div class="container-fluid row">

    <form id="signupForm" class=" pos col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">

        <h2 class="ui block header">Register</h2>

        <div class="ui fluid icon input custom">
          <img class="icons" src="/images/user.png">
          <input type="text" placeholder="First Name" id="fname" name="firstName">
        </div>

        <div class="ui fluid icon input custom">
          <img class="icons" src="/images/user.png">
          <input type="text" placeholder="Last Name" id="lname" name="lastName">
        </div>

        <div class="ui fluid icon input custom">
          <img class="icons" src="/images/college.png">
          <input type="text" placeholder="College" id="college" name="college">
        </div>

        <div class="ui fluid icon input custom">
          <img class="icons" src="/images/phone.png">
          <input type="text" placeholder="Mobile Number" id="mobileNumber" name="mobileNumber">
        </div>

        <div class="ui fluid icon input custom">
          <img class="icons" src="/images/mail.png">
          <input type="email" placeholder="Email" id="email" name="email">
        </div>

        <div class="ui fluid action input custom">
            <img  class="icons" src="/images/lock.png">
            <input type="password" placeholder="Password" id="pass" name="password">
        </div>

        <div class="ui fluid action input custom">
            <img  class="icons" src="/images/lock.png">
            <input type="password" placeholder="Retype Password" id="confirm" name="confirmPassword">
        </div>



        <input class="fluid ui button" value="Submit" type="button" id="reg" onclick="registerSubmit()">
        <br>
        <p id="msg"></p>
      </form>


</div>
  <footer class="row" style="width:100%;">
    <div class="col-xs-12">
      <a href="https://www.facebook.com/asceindiastudentconference/" target="_blank"><i  class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="https://www.google.co.in/maps/place/Vellore+Institute+of+Technology/@12.9715835,79.1583751,17z/data=!4m8!1m2!2m1!1svit+vellore!3m4!1s0x3bad479f0ccbe067:0xfef222e5f36ecdeb!8m2!3d12.9717796!4d79.1589042" target="_blank"><i class="fa fa-map-marker"></i></a>
      <br>
    </div>
    <div  class="col-xs-12" style="bottom:20px;position:absolute;">
      <p id="legal">All rights reserved &copy; 2018</p>
    </div>
  </footer>

  </body>
  <script>
      $(window).load(function(){
      $(".preloader").fadeOut(500);
      }); 
      function registerSubmit(){
        $("#reg").attr('disabled',true);
        $(".preloader").fadeIn(200);
        $("#msg").text(""); 
        // console.log("hello I am here");
        $.ajax({
        url: "/signup",
        data:
        {
          "firstName":$("#fname").val(),
          "lastName":$("#lname").val(),
          "college":$("#college").val(),
          "email":$("#email").val(),
          "mobileNumber":$("#mobileNumber").val(),
          "password":$("#pass").val(),
          "confirmPassword":$("#confirm").val()
        },
        type: "POST",
        success: function (json) {
          $(".preloader").fadeOut(500);
          // console.log(json);
            // if(json.success==false)
            // {
            $("#msg").text(json.message);   
        },
        error: function (msg) {
          // console.log("error");
        }
      });
      }
    $(document).ready(function(){
      // $(".form-content").css("height",$(window).height()-$("footer").outerHeight()-$(".altr").height()+'px');
        if($(window).width()>=992)
        {
            $(".item-price,.item-img").css("height",$(".cart-item").height()+'px');
            $(".altr").css("height",$(".pc-header").height()+'px');
        }
        else
        {
         $(".altr").css("height",$(".mobile-header").height()+'px');
      }

    });
    </script>
</html>