<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="ASCE, VIT, canoe, CANOE, Civil">
    <meta name="description" content="">
    <meta name="author" content="ASCE">
    <link rel="icon" href="../../favicon.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    <title>ASCE - ICES | LOGIN</title>

    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jQuery.js"></script>
    <script type="text/javascript" src="/js/semantic.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </head>

  <style >
    
          .jumbotron{
            background-image: none;
            background-position-y: 1100px;
            background-position-x: -250px;
            height: 40vh;
          }
    
          .container p {
            text-align: center;
          }
    
          .jumbotron h4 {
            margin-top: 5vh;
            font-family: roboto-thin;
          }
    
          .jumbotron p {
            line-height: 32px;
          }
    
          .ui.raised.card {
            width: 80%;
            margin: 10vh auto 5vh auto;
            font-size: 24px;
          }
    
          .ui.raised.card span {
            font-family: roboto-thin;
            font-size: 18px;
            color: black;
            font-weight: 550;
          }
          
    
          nav {
            top: 0;
            z-index: 100;
          }

          img[src="/Images/notFound.png"] {
              width: 100vw;
          }
    
      </style>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a id="asce-logo" class="navbar-brand" href="/"><img src="./Images/logo-asce.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul id="navbarMenu" class="nav navbar-nav">
          <li><a href="/aboutus">ABOUT ASCE</a></li>
          <li class="active"><a href="/canoe">CANOE COMPETITION</a></li>
          <li><a href="/conference">CONFERENCE</a></li>
          <li><a href="/workshop">WORKSHOP</a></li>
          <li><a href="/events">EVENTS</a></li>        
        </ul>
  
        <ul id="navbarRegistrationSignIn" class="nav navbar-nav">
          <li><a href="/register">REGISTER</a></li>
          <li><a href="/login">LOG IN</a></li>
        </ul>
        
      </div>
    </div>
  </nav>

  <img src="/Images/notFound.png">
  
  
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <script src="../../assets/js/vendor/holder.min.js"></script>
      <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  
    </body>
  </html>
  