@font-face {
	src: url('../fonts/Roboto-Regular.ttf');
	font-family: roboto;
}

@font-face {
	src: url('../fonts/Roboto-Thin.ttf');
	font-family: roboto-thin;
}

#asce-logo {
	padding: 5px 5px 5px 20px;
}

#navbarMenu {
	margin-left: 20px;
	font-size: 12px;
}

#navbarRegistrationSignIn {
	margin-left: 15vw;
	font-size: 12px;
}

body {
  padding-bottom: 20px;
}

ul.nav,.jumbotron h1, .jumbotron h4{
	font-family: roboto;	
}

.jumbotron h1 {
	font-size: 30px;
	font-family: roboto-thin;
}

.jumbotron h4 {
	font-size: 44px;
	font-family: roboto;
}

.jumbotron{
	text-align: center; 
	background-image: url(../images/bg2.jpg);
    background-position-y: -500px;
    height: 35vh;
    color: white;
} 

#get-involved {
	background-color: #f5f5f5;
}
.who container homepage h2{
	text-align: center;
}
.who{
	color: red;
}

.jumbotron h1{
	margin-top: 0px;
}


.jumbotron p{
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;

}

.row h2 {
	color: red;
}	
.row hr{
	margin-top:15px;
	width:200px;
	border-top-color:red; 
}
.row footer, p{
	text-align: center;
	font-size: 18px;

}
.row h3{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 26px;
	color: red;
}

.row {
	margin: 30px;
	text-align: center;
	font-family: 'Arvo', courier , serif;


}
.row p {
	margin top :-5px;
	margin-bottom: 20px;
	margin-left: 10px; 
	padding: 0 40px;
	font-size: 21px;
	text-align: center;

}
.row p a{
	color: red;
}
.who h2{
	text-align: center;

}
.row footer,p{
	text-align: left;
}

footer {
	text-align: center;
}

.btn-lg	
{
	font-size: 36px;

}
.p{
	font-size: 21px;
	text-align: center;
}

.col-lg-12 img {
	height: 35px;
}

.ui.circular.button {
	background-color: white;
	opacity: 1;
	transition: opacity 0.5s ease, background-color 0.5s ease;
}

.ui.circular.button:hover {
	background-color: white;
	opacity: 0.5;
	transition: opacity 0.5s ease, background-color 0.5s ease
}

.navbar-inverse {

	z-index: 100;
	position: fixed;
	width: 100vw;
}

#legal {
	text-align: center;
	font-size: 12px;
}
