#evt1
{
	background:url("../images/envocist.jpg");
	background-position: center;
	background-size: cover;
}
#evt2
{
	background:url("../images/fresh more challenge.jpg");
	background-position: center;
	background-size: cover;
}
#evt3
{
	background:url("../images/quiz bowl.jpg");
	background-position: center;
	background-size: cover;
}
#evt4
{
	background:url("../images/concrete baseball.jpg");
	background-position: center;
	background-size: cover;
}
#evt5
{
	background:url("../images/surveyor.jpg");
	background-position: center;
	background-size: cover;
}
#evt1
{
	background:url("../images/envocist.jpg");
	background-position: center;
	background-size: cover;
}
#evt7
{
	background:url("../images/arch bridge.jpg");
	background-position: center;
	background-size: cover;
}
#evt8
{
	background:url("../images/traffineer.jpg");
	background-position: center;
	background-size: cover;
}
#evt9
{
	background:url("../images/mead paper.jpg");
	background-position: center;
	background-size: cover;
}
#evt10
{
	background:url("../images/constrologer.jpg");
	background-position: center;
	background-size: cover;
}